@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  /* 1rem=10px */
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
}
:root {
  --primary-color: #9ba8ab;
  --secondary-color: #ccd0cf;
  --background-color: #253745;
  --text-color: #11212d;
  --paragrapgh-color: #06141b;
  --primary-font: "Poppins", Sans-serif;
  --secondary-font: "Dancing Script", cursive;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
}
.header-logo-wrapper {
  padding: 1rem 2rem;
  display: flex;
}

.header-logo-text {
  padding-top: 1rem;
  color: var(--secondary-color);
}

.logo-name {
  font-family: var(--primary-font);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav-list {
  list-style: none;
  gap: 2rem;
  display: flex;
  padding: 1rem;
}

.header-nav-link a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 2rem;
}
.header-nav-link a:hover {
  /* font-size: 2.4rem; */
  text-decoration: underline;
}

/* home styling */
.home {
  background-color: var(--primary-color);
  height: 90vh;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  /* z-index: 99; */
}
.home-box {
  gap: 4rem;
  padding: 3rem 2rem;
  /* border:2px solid red ; */
}
.home-main-box {
  font-family: var(--secondary-font);
  color: var(--text-color);
  text-align: center;
  font-size: 6rem;
  text-transform: capitalize;
  /* border: 2px solid green; */
}
.home-sub-box {
  /* border: 2px solid black; */
  text-align: center;
  font-size: 3rem;
  font-family: var(--primary-font);
  color: var(--text-color);
  text-transform: uppercase;
}
.home-box-cta {
  /* border: 2px solid green; */
  padding: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.home-cta {
  font-size: 2rem;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--background-color);
}
.home-cta:hover {
  transform: scale(1.2);
}

/* amenities section */
.amenities {
  /* padding-top: 9rem; */
  padding: 2rem;
  display: flex;
  /* z-index: 99; */
  flex-direction: column;
  background-color: var(--primary-color);
}
.amenities-title {
  padding-top: 2rem;
  text-align: center;
  color: var(--background-color);
  text-transform: uppercase;
  font-size: 3rem;
  /* border: 2px solid red; */
  font-family: var(--primary-font);
}
.amenities-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* padding: 4rem; */
}
.amenities-card-box {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--paragrapgh-color);
  padding: 2rem;
}
.amenities-card-box:hover {
  border: 2px solid var(--background-color);
}
/* .amenities-card-image {
  width: 6rem;
  border: 2px solid green;
  border: 2px solid red;
} */
.amenities-card-image-image {
  width: 6rem;
}
.amenities-description-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.amenities-card-description {
  text-transform: capitalize;
  align-items: center;
  font-size: 2rem;
}
/* apartment section */
.apartments {
  min-height: 80vh;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  /* padding: 2rem 2rem; */
}
.apartment-title {
  padding-top: 2rem;
  text-align: center;
  color: var(--background-color);
  text-transform: uppercase;
  font-size: 3rem;
  /* border: 2px solid red; */
  font-family: var(--primary-font);
}
.apartment-box {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  background-color: var(--primary-color);
}
.apartment-card-box {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  /* border: 2px solid green; */
}
.apartment-card-box:hover {
  border: 2px solid var(--paragrapgh-color);
}
.apartment-image-box {
  width: 25rem;
  /* border: 2px solid red; */
}
.apartment-image-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.apartment-description-box {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  /* border: 2px solid black; */
}
.apartment-main-title {
  /* text-align: left; */
  text-transform: uppercase;
  line-height: 2;
  font-family: var(--primary-font);
  color: var(--paragrapgh-color);
  font-size: 2rem;
  /* border: 2px solid red; */
  padding-bottom: 0rem 0rem 2rem 3rem;
}
.apartment-sub-text {
  height: 18rem;
  width: 20rem;
  /* border: 2px solid red; */
  font-size: 1.5rem;
  /* padding: 2rem; */
  /* border: 2px solid red; */
  font-family: var(--primary-font);
}
.sub-box {
  /* border: 2px solid green; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.apartment-price {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: var(--primary-font);
}
.apartment-cta {
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--background-color);
  color: var(--secondary-color);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
}
.apartment-cta:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}
/* contact styling */
.contacts {
  display: flex;
  justify-content: space-around;
  height: 80vh;
  padding: 1rem 2rem 1rem 2rem;
  /* border: 2px solid red; */
  background-color: var(--primary-color);
}
.contact-us {
  border: 2px solid black;
  box-shadow: 4px 4px 4px 4px var(--secondary-color) inset;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
/* form styling */
.contact-form {
  width: 40rem;
  display: flex;
  flex-direction: column;
  /* border: solid 2px green; */
  padding: 2rem;
  /* background-color: var(--paragrapgh-color); */
}

.form-title {
  text-transform: capitalize;
  font-family: var(--primary-font);
  color: var(--paragrapgh-color);
  margin-bottom: 1.5rem;
  /* border: 2px solid blue; */
}
.contact-form input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}
.contact-form input:hover {
  border: 2px solid var(--paragrapgh-color);
}
.contact-form textarea {
  max-height: 20rem;
  max-width: 30rem;
}
.contact-form placeholder {
  color: var(--paragraph-color);
}
#button {
  width: 10rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-size: 2rem;
  font-family: var(--secondary-font);
  text-transform: capitalize;
  margin: 1rem 2rem 1rem 2rem;
}
/* about styling */
.about-us {
  border: 2px solid black;
  height: 100%;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 4px 4px 4px 4px var(--secondary-color) inset;
}
.about-title {
  font-size: 2rem;
  font-family: var(--primary-font);
  color: var(--paragrapgh-color);
  text-align: center;
  text-transform: uppercase;
}
.about-container {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.img-box {
  width: 12rem;
  height: 12rem;
  margin: 2rem;
  border: 2px solid green;
}
.about-image {
  /* border: #06141b solid 2px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.row {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem;
}
.location {
  margin: 2rem;
  display: flex;
  align-items: center;
}
.details-location {
  font-size: 2rem;
  font-family: var(--primary-font);
  color: var(--paragrapgh-color);
  text-transform: capitalize;
}

.social-contacts a {
  text-decoration: none;
  color: var(--background-color);
}
.social-contacts a:hover {
  text-decoration: underline;
  color: var(--background-color);
}
/* footer styling */
footer {
  /* border: 2px solid green; */
  padding: 2rem 0rem 0rem 0rem;
  background-color: var(--primary-color);
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.icon-box {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 2px solid red; */
}
.icon-image-box {
  width: 4rem;
  height: 4rem;
  /* background-color: white; */

  /* border: 2px solid green; */
}
.social-handles {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
  /* align-items: center;
  justify-content: center; */
  /* gap: 9rem; */
  font-weight: bold;
  cursor: pointer;
  color: var(--background-color);
}
.social-image-box p:hover {
  text-decoration: underline #fff;
}
.icon-image {
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.footer-text {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--paragrapgh-color);
  font-family: var(--primary-font);
  color: var(--primary-color);
}
/* header responsiveness */
@media screen and (max-width: 600px) {
  .header-nav-link {
    display: flex;
  }
  .header {
    display: flex;
    flex-direction: column;
  }

  .header-logo-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-name {
    text-align: center;
    font-size: 3rem;
  }
  /* homeresponsiveness */
  .home {
    padding-top: 15rem;
  }

  .apartments {
    padding-top: 16rem;
  }
  .home-box {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
  .home-main-box {
    font-size: 2.5rem;
  }
  .home-sub-box {
    font-size: 2rem;
  }
  /* about responsiveness */
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-image {
    width: 90vw;

    border: 2px solid green;
  }
  .about-image:hover {
    transform: none;
  }
  /* amenities responsiveness */
  .amenities {
    padding-top: 14rem;
  }
  /* .amenities-box {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  /* justify-content: center;
    align-items: center; 
  }*/
}
@media screen and (max-width: 900px) and (min-width: 601px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
